<app-nav></app-nav>

<ul class="list-group">
    <li class="list-group-item"><b>FOOD ID :</b> {{menu.foodId}}</li>
    <li class="list-group-item"><b>FOOD NAME :</b> {{menu.foodName}}</li>
    <li class="list-group-item"><b>FOOD QTY :</b> {{menu.foodQty}}</li>
    <li class="list-group-item"><b>FOOD PRICE :</b> {{menu.foodPrice}}</li>
    <li class="list-group-item"><b>VENDOR ID : </b> {{menu.vendorId}}</li>

    <div class="button"><button (click)="list()" class="btn btn-primary">Back To Menu List</button></div>
  </ul>