<app-nav></app-nav>
<div class="about-section">
  <h1 style="text-align:center">About Us</h1><br>
  <p>The Canteen Management System has been developed to override the problems prevailing in the practicing manual system. This software is supported to eliminate and in some cases reduce the hardships faced by this existing system. So, the purpose of Canteen Management System is to automate it, so that their valuable data/ information can be stored for a longer period with easy accessing and manipulation of the same. The main objective of this system is to manage the details of canteen like food items, bills, etc.  </p>
  <p>Canteen Management System is used to place the food orders and has two parts to it, namely the Customer side and Vendor side. Admin can select the items for the day and also perform functionalities like adding user, removing user, adding food items , removing food items, also look at the current orders block wise. This system can be used by customers to order items quicky. Also the order details are stored in the database.</p>
  <p>This application avoids errors while entering the data, and also provides error message while entering invalid input. No formal knowledge is needed for the user to use this system. It can lead to error free, secure, reliable and fast management system. Thus, it is user-friendly.</p>
  <div class="list-points">
    <br><p>The functionalities provided by Canteen Management System are:
         <ul> 1. The customer can view all food items.</ul>
         <ul> 2. The customer can enter the quantity of the food item selected, and order date will be generated automatically.</ul>
         <ul> 3. The order can be placed on adequate Wallet balance.  </ul>
         <ul>4. The order history will display the list of orders placed by a customer.</ul>
         <ul>5. The food Vendor can view the orders and accept/cancel it with proper comments. </ul>
      </div>
</div>


<br><h2 style="text-align:center">Our Team</h2><br>
<div class="row">
<div class="column">
  <div class="card">
    <img class="card-img" src="./assets/Lakshmoji.jpeg" alt="Lakshmoji" >
    <div class="container">
      <h2>Lakshmoji</h2>
      <p class="title">Team Leader</p>
      <p>lakshmoji@hexaware.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>


  <div class="column">
    <div class="card">
      <img class="card-img" src="./assets/Unzela.jpg" alt="Unzela" >
      <div class="container">
        <h2>Unzela</h2>
        <p class="title">Team Member</p>
        <p>unzela@hexaware.com</p>
        <p><button class="button">Contact</button></p>
    </div>
  </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="card-img" src="./assets/Guru.jpeg" alt="Guru" >
      <div class="container">
        <h2>Guru Jaswanth</h2>
        <p class="title">Team Member</p>
        <p>guru@hexaware.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
      <div class="card">
        <img class="card-img" src="./assets/Lazmi.jpeg" alt="Lazmi" >
        <div class="container">
          <h2>Lazmi Rajput</h2>
          <p class="title">Team Member</p>
          <p>lazmi@hexaware.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

  <div class="column">
    <div class="card">
      <img class="card-img" src="/assets/image.jpeg" alt="Supriya" >
      <div class="container">
        <h2>Supriya</h2>
        <p class="title">Team Member</p>
        <p>supriya@hexaware.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>