<div class="card">
    <div class="card-header">
        <img width="140" length="10" alt="Angular Logo"  src="./assets/hlogo.png"  />
        <span style="color: aliceblue;">Welcome To Canteen Management System</span>
<nav>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/vendorordering" style="display: block;">Show Orders</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/login">Login</a></li>
    </ul>
</nav>
</div>
</div>